.maincard{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #00ad7d;
    gap: 16px;
    width: 200px;
    border-radius: 8px;
    color: #fff;
    .icon{
        border-radius: 50%;
        background-color: #64ebc5;
        width: 20px;
        padding: 5px;
        height: 20px;
        display:flex;
        justify-content: center;
        align-items: center
    }
    .amount_type{
        display: flex;
        flex-direction: column;
        .type{
            font-size: 10px;
        }
        .amount{
            font-weight: 500;
        }
    }
}



